.feedback-box__options {
  display: flex;
  justify-content: center;
  gap: 8px;
  > li {
    > button {
      font-size: 16px;
      cursor: pointer;
      font-weight: bold;
      border-radius: 4px;
      border: none;
      padding: 8px 16px;
      background-color: rgb(241, 215, 97);
      transition: all 250ms;
      &:hover {
        background-color: rgb(250, 213, 49);
      }
      &:active {
        box-shadow: 0px -1px 5px 1px rgba(0, 0, 0, 0.5);
        transform: translateY(5%) scale(0.92);
      }
    }
  }
  > li:first-child {
    > button {
      background-color: rgb(144, 241, 87);
      &:hover {
        background-color: rgb(95, 201, 34);
      }
    }
  }

  > li:last-child {
    > button {
      background-color: rgb(221, 87, 114);

      &:hover {
        background-color: crimson;
      }
    }
  }
}
