.feedback-box {
  background-color: coral;
  max-width: 400px;
  padding: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0px 1px 12px 6px rgba(128, 128, 128, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  h1,
  h2,
  ul,
  li,
  p,
  button {
    margin: 0;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}
